<div fxLayout="row wrap">
    <div fxFlex="100">
        
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </div>
</div>
    

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="serial_number">
        <th mat-header-cell *matHeaderCellDef>Serial Number</th>
        <td mat-cell *matCellDef="let element">{{element.serial_number}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="machine_theme_id">
        <th mat-header-cell *matHeaderCellDef>Machine Theme ID</th>
        <td mat-cell *matCellDef="let element">{{element.machine_theme_id}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="machine_state">
        <th mat-header-cell *matHeaderCellDef>Machine State</th>
        <td mat-cell *matCellDef="let element">{{element.machine_state}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>